<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas</title>
</head>
<body>
    <div class="cabecalho">
        <h1>Lista de tarefas</h1>
    </div>

    <div class="corpo">
        <ul>
            {% for tarefa in tarefas %}
                <li>ID: {{ tarefa.id }}, Descrição: {{ tarefa.descricao }}, Prioridade: {{ tarefa.prioridade }}, Status: {{tarefa.concluida}}</li>
            {% endfor %}
        </ul>
    </div>
    </div>
</body>
</html>